body {
    display: flex;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    justify-content: left;
    align-items: center;
    background: url(/img/loginbg.gif) no-repeat;
    background-size: cover;
    background-position: center;
}

.main {
    position: relative;
    height: 15cm;
    width: 12cm;
    justify-content: left;
    align-items: center;
    display: flex;
}

.contain {
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.contain nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
}

.contain input {
    position: relative;
    color: rgb(206, 158, 14);
    font-size: 37px;
    padding: 90px 0 80px;
    margin-left: 45px;
    background: transparent;
    border: none;
    transition: .5s;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.contain input:hover {
    scale: 1.4;
    transform: translate(8px, -10px);
}

.Tutorial {
    display: none;
    background-color: rgb(226, 175, 107);
    height: 75vh;
    width: 120vh;
    display: flex;
    position: absolute;
    margin-left: 60vh;
    opacity: 1;
    justify-content: center;
    box-shadow: 0 0 30px black;
    overflow: hidden;
    transform: scale(0);
    transition: transform .4s ease-in;
}

