body {
    display: flex;
    padding: 0%;
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(/img/bf.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 99;
}

.navi a {
    position: relative;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navi a::after {
    content: '';
    position: absolute;
    left: -2px;
    bottom: -6px;
    height: 3px;
    width: 107%;
    background: #ffffff;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.navi a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navi .btn {
    width: 120px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 50px;
    transition: .5s;
    display: flexbox;
    color: white;
}

.navi .btn:hover {
    background: #b1b1b1;
    color: rgb(255, 255, 255);
}

.main {
    position: relative;
    height: 15cm;
    width: 12cm;
    border: 2px solid rgb(158, 156, 156);
    backdrop-filter: blur(20px);
    background: transparent;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 0 30px black;
    overflow: hidden;
    transform: scale(0);
    transition: transform .4s ease;
}

.main.active-login {
    transform: scale(1);
}

.main.active {
    height: 18cm;
    width: 14cm;
    top: 30px;
}

.main .login {
    width: 100%;
}

.form h1 {
    font-size: 2em;
    text-align: center;
    padding: 3px 0 0px 0;
    color: rgb(210, 210, 210);
}

.main .box {
    color: white;
    bottom: 20px;
    position: relative;
}

.txt_input i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
    cursor: pointer;
}

p {
    position: relative;
    color: white;
    margin-left: 10px;
}

.box a {
    color: #c0bfbf;
    text-decoration: none;
}

.box a:hover {
    text-decoration: underline;
}
.loginbtn {
    color: white;
    bottom: -15px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.loginbtn a {
    color: #c0bfbf;
    text-decoration: none;
}

.loginbtn a:hover {
    text-decoration: underline;
}

.login form {
    padding: 5px 40px;
    box-sizing: border-box;
}

.txt_input {
    position: relative;
    border-bottom: 2px solid #ffffff;
    margin: 50px 0;
}

.txt_input input {
    width: 100%;
    padding: 10px 5px;
    height: 40px;
    font-size: 17px;
    border: none;
    background: none;
    outline: none;
    color: white;
}

.txt_input label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #ffffff;
    transform: translateY(-50%);
    font-size: 17px;
    pointer-events: none;
    transition: .5s;
}

.txt_input span::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #949494;
    transition: .5s;
}

.txt_input input:focus ~ label,
.txt_input input:valid ~ label {
    top: -5px;
    color: #ffffff;
}

.txt_input input:focus ~ span::before,
.txt_input input:valid ~ span::before {
    width: 100%;
} 

.forgotp {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.forgotp a {
    color: #c0bfbf;
    text-decoration: none;
}

.forgotp:hover {
    text-decoration: underline;
}

input[type="button"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #c7c8c9;
    border-radius: 18px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="button"]:hover {
    border-color:  #ffffff;
    transition: .5s;
}

.signup {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}

.signup a {
    color: #c0bfbf;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}