body {
    flex-wrap: wrap;
    justify-content: baseline;
    display: flex;
    padding: 0%;
    margin: 0;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(/img/profilebg.webp) no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.team {
    margin: 75px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;
    text-align: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 300px;
}

.col {
    text-align: center;
}

h1 {
    display: block;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 10px;
}

h1::after {
    content: '';
    background: #ffffff;
    display: block;
    height: 3px;
    width: 150px;
    margin: 10px auto;
}

h3, h2, h5 {
    color: #ffffff;
}

.profile {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 130%;
    height: 100%; 
}

.profile h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.profile h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.img-box {
    overflow: hidden;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

